.logo{
    padding-left: 12%;
    width: 20%;
    float: left;
}

.tabs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        margin-top: 30px;
      }
}

.city_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 77%;
}