.content_select{
    width: 75%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    .banner{
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        padding-bottom: 0px;
    }
    .service_img{
        padding: 10px;
    }

}